<%- include('./partial/header', {title: 'Sign Up'}) %>

<form action="/user/register" method="POST">
  <h1>Register</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Input Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Input Password">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Input your Email">
    </div>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Input your Full Name">
    </div>
    <div class="form-group">
      <label for="age"> Age </label>
      <input type="text" class="form-control" id="age" name="age" placeholder="Input your Age">
    </div>
    <div class="form-group">
      <label for="gender"> Gender </label>
      <input type="text" class="form-control" id="gender" name="gender" placeholder="Input Gender">
    </div>
    <div class="form-group">
      <label for="gender"> Phone Number </label>
      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Input Phone Number">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" href="/" role="button">Cancel</a>
  </form>
<%- include('./partial/footer') %>